.center_contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_box {
    width: 600px;
}

html, body, .center_contents {
    height: 100%;
}

.address_small {
    font-size: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preserve-linebreaks {
    white-space: pre-wrap;
}

.underline-dotted {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.scrollable-column {
    max-height: 100vh;
    overflow: scroll;
}