# The domain that the IMAP server is configured to listen to, e.g. "example.com"
IMAP_DOMAIN=""

# The port that the IMAP server is listening on, usually 993
IMAP_PORT=

# The host that the IMAP server is listening on, usually "127.0.0.1"
IMAP_HOST=""

# The PFX file, based on your RSA key. This can be generated with the following command:
# openssl pkcs12 -export -out identity.pfx -inkey key.pem -in cert.pem -certfile chain_certs.pem
IMAP_PFX_FILE=""

# The password entered when generating the pkcs12 file
IMAP_PFX_FILE_PASSWORD=""

# The username for the IMAP user
IMAP_USERNAME=""

# The password for the IMAP user
IMAP_PASSWORD=""

# The username for the client application
CLIENT_USERNAME=""

# The password for the client application
CLIENT_PASSWORD=""
