{% extends "_layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
Hello {{ name }}<br />
You have {{ emails.len() }} emails:
<ul>
    {% for email in emails %}
    <li>
        <b>{{ email.get_subject() }}</b> ({{ email.id }})<br />
        <small>{{ email.get_from() }} -&gt; {{ email.get_to() }}</small>
        {% if email.get_subject().trim().is_empty() || email.get_from().trim().is_empty() || email.get_to().trim().is_empty() %}
            <dl class="dl-horizontal">
                {% for (key, value) in email.headers %}
                <dt>{{ key }}</dt>
                <dl>{{ value }}</dl>
                {% endfor %}
                {% if email.body_text.is_some() %}
                    {% for (key, value) in email.body_text.as_ref().unwrap().headers %}
                        <dt>{{ key }}</dt>
                        <dl>{{ value }}</dl>
                    {% endfor %}
                {% endif %}
                {% if email.body_html.is_some() %}
                    {% for (key, value) in email.body_html.as_ref().unwrap().headers %}
                        <dt>{{ key }}</dt>
                        <dl>{{ value }}</dl>
                    {% endfor %}
                {% endif %}
            </dl>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}

